@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

* {
  margin:0;
  padding:0;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

#animation {
  border: none;
  position: fixed;
  z-index: -999;
  width:100vw;
  height: 100vh;
}

#navigation {
  position: absolute;
  top: 200px;
  left: 450px;
}

.buttons {
  /* float: left; */
  font-size: 18pt;
  list-style-type: none;
  background: #00ffd8;
  padding:20px;
  margin:15px;
  border: magenta 5px dashed;
}

.buttons a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
