body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:148px;
  width:590px;
  height:317px;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:0px;
  width:230px;
  height:35px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:35px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:0px;
  width:208px;
  height:35px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:112px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:147px;
  height:112px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:143px;
  word-wrap:break-word;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:112px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:35px;
  width:230px;
  height:112px;
  text-align:left;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:226px;
  word-wrap:break-word;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:112px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:35px;
  width:208px;
  height:112px;
  text-align:left;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:204px;
  word-wrap:break-word;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:97px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:147px;
  height:97px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:143px;
  word-wrap:break-word;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:97px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:147px;
  width:230px;
  height:97px;
  text-align:left;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:97px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:147px;
  width:208px;
  height:97px;
  text-align:left;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:204px;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:68px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:147px;
  height:68px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:143px;
  word-wrap:break-word;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:68px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:244px;
  width:230px;
  height:68px;
  text-align:left;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:226px;
  word-wrap:break-word;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:68px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:244px;
  width:208px;
  height:68px;
  text-align:left;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:204px;
  word-wrap:break-word;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:107px;
  width:111px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
