body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:880px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:880px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:662px;
  width:329px;
  height:64px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:325px;
  word-wrap:break-word;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:737px;
  width:91px;
  height:16px;
  text-decoration:underline;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:114px;
  width:375px;
  height:73px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:132px;
  width:216px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
