body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:606px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:606px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:443px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:82px;
  width:819px;
  height:443px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:321px;
  width:252px;
  height:29px;
}
#u647_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:29px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:360px;
  width:252px;
  height:29px;
}
#u648_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:29px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:112px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:103px;
  width:207px;
  height:112px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:43px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:239px;
  width:819px;
  height:43px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:815px;
  word-wrap:break-word;
}
#u651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:40px;
  background:-webkit-linear-gradient(315deg, rgba(51, 204, 153, 1) 0%, rgba(51, 204, 153, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(51, 204, 153, 1) 0%, rgba(51, 204, 153, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(51, 204, 153, 1) 0%, rgba(51, 204, 153, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:432px;
  width:252px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-decoration:underline;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:394px;
  width:107px;
  height:15px;
  font-size:10px;
  text-decoration:underline;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  white-space:nowrap;
}
