@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

@font-face {
    font-family: 'Prisma Pro';
    src: url('fonts/Prisma/PrismaPro.eot');
    src: url('fonts/Prisma/PrismaPro.eot?#iefix') format('embedded-opentype'),
        url('fonts/Prisma/PrismaPro.woff2') format('woff2'),
        url('fonts/Prisma/PrismaPro.woff') format('woff'),
        url('fonts/Prisma/PrismaPro.svg#PrismaPro') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Mobile first styles go here */
html {
  box-sizing: border-box;
}

* {
  margin, padding:0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: #fff;
  width: 100vw;
  height:100%;
  margin, padding:0;
}

.container {
  width:80vw;
  margin: 0 auto;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%;
}

.half-column {
  display: flex;
  flex: 1;
  justify-content: center;
}


/* my styles */
.social {
  position: fixed;
  right:5vw;
  top:40vh;
  background-color: #fff;
}

.social a i{
  font-size: 1.5em;
  text-align: center;
  padding:10px;
  color: rgb(255, 92, 64);
  text-decoration: none;
  z-index: 999;
}

p {
font-size:1.2em;
}

#logo {
  text-align: center;
  font-size: 4em;
  margin-top:10vh;
  color: #fff;
  font-family: 'Monoton', cursive;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2px;
}

.description {
  text-align: center;
  margin: 4vh auto;
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
}

.description i a {
  letter-spacing: 2px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

#video {
  width:100%;
  height:280px;
  margin-top:6vh;
  margin-right:10px;
}

#custom-id {
  margin-top:6vh;
}

.instructions {
  background-color: transparent;
  border: 2px #fff solid;
  border-radius: 8px;
  font-size: 1.2em;
  color: #fff;
  transition: all .20s ease-in-out;
  font-family: Montserrat;
  text-decoration: none;
  padding: 15px;

}

.instructions:hover,
  #instructions:active {
    background-color: #fff;
    transition: all .20s ease-in-out;
    outline: none;
    cursor: pointer;
    color: rgb(255, 92, 64);
  }

.instructions:focus {
    outline:0;
    transition: all .20s ease-in-out;
}

footer {
  width:100vw;
  padding: 20px;
  border-top: 2px #fff solid;
  text-align: center;
  color:#fff;
  font-weight: bold;
  font-size:1em;
  margin:0 auto;
  margin-top: 20vh;
}

footer a {
  color: #fff;
}

/* How it works page */

.text-container {
  width: 55vw;
  text-align: center;
  margin: 0 auto;
}

.gray {
  background-color:#f2f2f2;
  text-align: center;
  padding:5vh;
}

.gray i {
  font-size: 4em;
  margin-bottom: 2vh;
  opacity: 0.2;
}

.gray p {
  line-height: 1.5;
}

.white {
  background-color:#fff;
  text-align: center;
  padding:5vh;
}

.white i {
  font-size: 4em;
  margin-bottom: 2vh;
  opacity: 0.2;
}

.white p {
  line-height: 1.5;
}

.hiwfooter, .hiwfooter a {
  color:#999;
}

.hiwfooter {
  border-image: linear-gradient(to left, #87cfe0 0%, #7ebdfb, 25%, #c399f3 50%, #ff69ad 75%, #ff5c40 100%);
  border-image-slice: 1;
  border-width: 2px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.gray b, .white b {
  background: -webkit-linear-gradient(#87cfe0, #7ebdfb, #c399f3, #ff69ad, #ff5c40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#start {
  background-color: transparent;
  border: 2px rgb(255, 92, 64) solid;
  border-radius: 8px;
  font-size: 1.2em;
  color: rgb(255, 92, 64);
  transition: all .20s ease-in-out;
  font-family: Montserrat;
  text-decoration: none;
  padding: 15px;
}

#start:hover,
  #start:active {
    background-color: rgb(255, 92, 64);
    transition: all .20s ease-in-out;
    outline: none;
    cursor: pointer;
    color: #fff;
  }

#start:focus {
    outline:0;
    transition: all .20s ease-in-out;
}

#watch span {
  background-color:#333;
  color: #fff;
  font-family: 'Monoton', cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

.subscribe input {
  width: 30vw;
  font-size: 1em;
  padding:7px;
}

  /* Desktop styles go here */

@media screen and (min-width: 800px) {
  .one {
      width: 100%;
    }
    .half {
      width: calc(100% / 2);
    }
    .one-third {
      width: calc(100% / 3);
    }
    .one-fourth {
      width: calc(100% / 4);
    }
    .two-thirds {
      width: calc(100% / 3 * 2);
    }
    .column {
      float: left;
    }

/* my styles */
.description {
  width:60vw;
  margin: 0 auto;
  float: none;
}

#logo {
  font-family: 'Prisma Pro';
  font-weight: normal;
  font-style: normal;
}

.row {
     flex-direction: row;
    }

#watch span {
  font-family: 'Prisma Pro';
  font-weight: normal;
  font-style: normal;
}
